Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Origin "http://localhost:3000"

RewriteEngine On # Turn on the rewriting engine

RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

RewriteRule ^login/?$ return.php [NC,L]
RewriteRule ^upload/?$ uploads.php [NC,L]
RewriteRule ^get/?$ fetch.php [NC,L]
RewriteRule ^getOne/?$ fetch_single.php [NC,L]